
header.dashboard{
    position: fixed;
    width: 100%;
    z-index: 99999;

    .dashboard-profile-pic{
      position: relative;
      bottom: 20px;
    }
  
    @media screen and (max-width:$breakpoint) {
     
    }
    
    background-color: #FFFFFF;
    box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.11);

    .navigation {
        height: $nav-height;
        background:#fff !important;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
       
        @media screen and(max-width:$breakpoint) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    nav {
        float: right;

        ul.nav-dropdown{
          z-index: 999;
          background-color: white;

          li{
            border-bottom: 1px solid #707070;
          }
        }
        
        ul {
          list-style: none;
          margin: 40px 0px 0px 0px;
          padding: 0;
      
          @media screen and (max-width:760px) {
            background-color:white;

            img{
              width: 30%;
            }
          }
          li {
            float: left;
            position: relative;
            margin-left: 0px;
            margin-right: 0px;

            &:nth-child(6){
              a.logout{
                background-color: transparent !important;
                text-align: left !important;
              }
             
            }
    
            a,
            a:visited {
              display: inline-block;
              font-family: $avenir-roman;
              padding: 6px 20px;
              line-height: 1;
              vertical-align: middle;
              color: #314D81 !important;
              text-decoration: none;
              &:hover {
                color: $nav-font-color;
                position: relative;
                text-decoration: none;
              }
              &:not(:only-child):after {
                padding-left: 4px;
                content: ' ▾';
              }
             
              &:active{
                border-bottom: 3px solid white;
                @media screen and (max-width:768px){
                  border: none !important;
                }
              }
      
              @media screen and (max-width:$breakpoint) {
                text-align: center;
                color: $heading-blue !important;
              }
            } // Dropdown list
            ul li {
              min-width: 190px;
              a {
                padding: 15px;
                line-height: 20px;
              }
            }
          }
        }
      }
      
      // Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 0px 0;
    max-height: 300px;
    
    
    
    ul.dash-navv {
      display: none;
      position: relative;
      bottom: 140px;
      padding-top: 20px;
      padding-bottom: 25px;
      box-shadow: 0 3px 11px rgba(0, 0, 0, 0.11);
      li {
        float: none;
        a{
          color: #1E3D77 !important;
        }

        &:nth-child(2){
          background-color: rgba(129, 129, 129, 0.3);
          margin:2px 0;
        }
        &:nth-child(3){
          background-color: rgba(129, 129, 129, 0.3);
          margin:2px 0;

          ul.nav-dropdown{
            border: none !important;
            margin-top: 0px;
            li{
              background-color: white;
            }
          }
        }
        // background-color: $mobile-nav-bg;
        
        a {
          color: #1E3D77 !important;
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 16px 37px 18px 6px;
  border-radius: 3px;
  border: 1px solid rgba(112, 112, 112, 0.3);
  z-index: 9999;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 33px;
    background: $twitter-blue;
    position: absolute;
    display: block;
    content: '';
    // transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}


    
  }