
header.dashboard{
    position: fixed;
    width: 100%;
    z-index: 99999;
  
    @media screen and (max-width:$breakpoint) {
      
    }
    
    background-color: #FFFFFF;
    box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.11);

    .navigation {
        height: $nav-height;
        background:#fff !important;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
       
        @media screen and(max-width:$breakpoint) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    nav {
        float: right;
        
        ul {
          list-style: none;
          margin: 40px 0px 0px 0px;
          padding: 0;
      
          @media screen and (max-width:760px) {
            background-color:white;
          }
          li {
            float: left;
            position: relative;
            margin-left: 4px;
            margin-right: 4px;
      
            &:nth-child(4){
              @media screen and (min-width:768px){
                text-align:center;
              }
              a{
                background-color: #16A2E8;
                z-index: 99999;
                border-radius: 15px;
                padding:6px 20px;
                color: #314D81 !important;
                &:visited{
                  color: $nav-font-color;
                }
                @media screen and (max-width:$breakpoint){
                  text-align:center;
                  width: 90%;
                  margin-left: 2.5%;
                  margin-bottom: 8px;
                }
              }
            }
            &:nth-child(5){
                @media screen and (min-width:768px){
                  text-align:center;
                }
                a{
                  background-color: $nav-font-color;
                  z-index: 99999;
                  border-radius: 15px;
                  padding:6px 20px;
                  color: #16A2E8 ;
      
                  @media screen and (max-width:$breakpoint) {
                    background-color:$heading-blue;
                    color: white !important;
                    width: 90%;
                    text-align: center;
                    margin-left: 2.5%;
                    margin-bottom: 8px;
                  }
                  &:visited{
                    color: #16A2E8 !important;
                   
                  }
                  
                }
      
              
            }
            a,
            a:visited {
              display: inline-block;
              font-family: $avenir-roman;
              padding: 6px 20px;
              line-height: 1;
              vertical-align: middle;
              color: #314D81 !important;
              text-decoration: none;
              &:hover {
                color: $nav-font-color;
                position: relative;
                text-decoration: none;
              }
              &:not(:only-child):after {
                padding-left: 4px;
                content: ' ▾';
              }
              &:active{
                border-bottom: 3px solid white;
              }
      
              @media screen and (max-width:$breakpoint) {
                text-align: center;
                color: $heading-blue !important;
              }
            } // Dropdown list
            ul li {
              min-width: 190px;
              a {
                padding: 15px;
                line-height: 20px;
              }
            }
          }
        }
      }
      
    
  }