@charset "UTF-8";
@font-face {
  font-family: "Avenir Black";
  src: url("../fonts/Avenir-Black-webfont.woff");
}

@font-face {
  font-family: "Avenir Light";
  src: url("../fonts/avenir-light-webfont.woff");
}

@font-face {
  font-family: "Avenir Medium";
  src: url("../fonts/Avenir-Medium-webfont.woff");
}

@font-face {
  font-family: "Avenir Roman";
  src: url("../fonts/Avenir-Roman-webfont.woff");
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Avenir Light";
}

div {
  margin: 0;
}

.hide-desktop {
  display: none;
}

@media screen and (max-width: 768px) {
  .hide-desktop {
    display: block;
  }
}

.hide-mobile {
  display: none;
}

@media screen and (min-width: 767px) {
  .hide-mobile {
    display: block;
  }
}

.padding-lr0 {
  position: relative;
}

@media screen and (min-width: 767px) {
  .padding-lr0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.padding-left0_ {
  position: relative;
}

@media screen and (min-width: 767px) {
  .padding-left0_ {
    padding-left: 0px !important;
  }
}

@media screen and (min-width: 767px) {
  .padding-right0_ {
    padding-right: 0px !important;
  }
}

.row_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col_ {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 18%;
          flex: 1 0 18%;
  /* The important bit. This percentage decides your columns. 
   The percent can be px. It just represents your minimum starting width.
    */
  margin: 5px;
  background: tomato;
  height: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-carousel .owl-item.big {
  background: #ac0000 !important;
}

.purchase-coin {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
  color: #808080;
  padding: 2rem 1rem 0rem 0rem;
  border-radius: 30px;
}

.purchase-coin .signature-wrapper .coin-image {
  display: inline-block;
}

.purchase-coin .signature-wrapper .coin-image img {
  width: 100%;
}

.purchase-coin .signature-wrapper .rate-stats {
  display: inline-block;
  top: 10px;
  padding-left: 10px;
  position: relative;
}

.purchase-coin .signature-wrapper .rate-stats img {
  width: 100%;
}

.purchase-coin .signature-wrapper .rate-stats span {
  display: block;
  font-family: "Comfortaa", cursive;
  font-weight: bolder;
  font-size: 10px;
  line-height: 2;
}

.purchase-coin .signature-wrapper .rate-stats span span {
  padding-left: 40px;
  display: inline-block;
}

.purchase-coin .signature-wrapper .rate-change {
  display: inline-block;
  position: relative;
  top: 20px;
  padding-left: 10px;
}

.purchase-coin .signature-wrapper .rate-change img {
  width: 40%;
  left: 40px;
  bottom: 20px;
  position: relative;
}

.purchase-coin .signature-wrapper .rate-change span {
  display: inline-block;
  font-weight: bolder;
  font-size: 18px;
  color: red;
}

#upload-avatar {
  z-index: 99991080 !important;
}

#upload-avatar .modal-content {
  width: 80%;
}

#upload-avatar .modal-content form select {
  width: 90%;
  padding: 0.8em;
}

#upload-avatar .modal-content form input {
  width: 90%;
  padding: 0.5em;
}

#upload-avatar .modal-content form button {
  background-color: aqua;
}

@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-more-tables tr {
    border: 1px solid #ccc;
  }
  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  /*
	Label the data
	*/
  #no-more-tables td:before {
    content: attr(data-title);
  }
}

.invalid {
  background-color: #e8f0fe !important;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1260px !important;
    width: 1140px !important;
  }
}

.timeline-Tweet-text {
  font-size: 20px !important;
}

@media screen and (min-width: 600px) {
  .owl-carousel .owl-item.remove-padding {
    visibility: hidden;
  }
}

@media screen and (min-width: 600px) {
  .owl-carousel .owl-item.remove-paddingg {
    visibility: hidden;
  }
}

@media screen and (min-width: 600px) {
  .owl-carousel .owl-item.medium {
    margin-right: -11px !important;
    position: relative;
    bottom: 50px;
    border-radius: 18px;
    z-index: 99999999999999;
    width: 380px;
  }
  .owl-carousel .owl-item.medium .item {
    margin: 2em 0 !important;
    height: 268px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
    z-index: 999999 !important;
    background-color: white;
  }
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
  color: #FFF;
  text-decoration: none;
  outline: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99999;
  background-color: #0E295A;
}

header .top-nav {
  font-family: "Avenir Roman" !important;
  position: relative;
  height: 37px;
  padding-top: 7px;
}

@media screen and (max-width: 600px) {
  header .top-nav .padding-lr0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

header .top-nav .float-right {
  position: absolute;
  right: 0px !important;
}

header .top-nav .float-right img {
  width: 85%;
  padding: 0px 5px;
}

header .top-nav .float-right img:nth-child(2) {
  width: 85%;
  padding: 5px;
}

header .top-nav .float-right img:nth-child(3) {
  width: 85%;
  padding: 5px 0 5px 5px;
}

@media screen and (max-width: 600px) {
  header .top-nav .float-right img {
    width: 75%;
    padding: 5px 3px !important;
  }
}

header .top-nav a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 5px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 4px;
  font-size: 12px;
}

header .top-nav a:nth-child(3) {
  padding-right: 0px !important;
}

@media screen and (max-width: 500px) {
  header .top-nav a {
    padding-right: 3px !important;
  }
}

@media screen and (max-width: 600px) {
  header .top-nav a {
    font-size: 7px;
    padding-left: 1px;
  }
}

@media screen and (min-width: 1200px) {
  header .top-nav a {
    padding-right: 10px;
  }
}

header .top-nav a img {
  padding-left: 8px;
  vertical-align: middle;
  padding-top: 4px;
  width: 85%;
}

@media screen and (max-width: 600px) {
  header .top-nav a img {
    width: 5%;
    padding-left: 1px;
  }
}

.navigation {
  height: 100px;
  background: #1E3D77;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 799px) {
  .navigation {
    padding-right: 0;
    padding-left: 0;
  }
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 100px;
  text-transform: uppercase;
  font-size: 1.4em;
}

@media screen and (max-width: 570px) {
  .brand {
    padding-left: 15px;
  }
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.brand a img,
.brand a:visited img {
  width: 60%;
  padding-top: 30px;
}

@media screen and (max-width: 570px) {
  .brand a img,
  .brand a:visited img {
    padding-top: 15px;
  }
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .nav-container {
    max-width: 1140px;
  }
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 40px 0px 0px 0px;
  padding: 0;
}

@media screen and (max-width: 760px) {
  nav ul {
    background-color: white;
    border-top: 7px solid #2AA7E6;
  }
  nav ul img {
    position: relative;
    width: 55%;
    padding: 15px;
    bottom: 24px;
  }
}

nav ul li {
  float: left;
  position: relative;
  margin-right: 4px;
}

@media screen and (max-width: 768px) {
  nav ul li:nth-child(2) {
    background-color: rgba(42, 167, 230, 0.1);
  }
  nav ul li:nth-child(2):after {
    display: block;
    content: "";
    border-bottom: 1px solid #fff;
    width: 70%;
    margin-left: 35px;
  }
}

@media screen and (max-width: 768px) {
  nav ul li:nth-child(3) {
    background-color: rgba(42, 167, 230, 0.1);
  }
  nav ul li:nth-child(3):after {
    display: block;
    content: "";
    border-bottom: 1px solid #fff;
    width: 70%;
    margin-left: 35px;
  }
}

@media screen and (max-width: 768px) {
  nav ul li:nth-child(4) {
    background-color: rgba(42, 167, 230, 0.1);
    margin-bottom: 15px;
  }
  nav ul li:nth-child(4):after {
    display: block;
    content: "";
    border-bottom: 1px solid #fff;
    width: 70%;
    margin-left: 35px;
  }
}

@media screen and (max-width: 768px) {
  nav ul li:nth-child(5) {
    text-align: center;
  }
}

nav ul li:nth-child(5) a {
  background-color: #16A2E8;
  color: white;
  z-index: 99999;
  border-radius: 15px;
  padding: 6px 20px;
}

nav ul li:nth-child(5) a:visited {
  color: #ffffff;
}

@media screen and (max-width: 799px) {
  nav ul li:nth-child(5) a {
    text-align: center;
    width: 80%;
    margin-right: 3.5%;
    margin-bottom: 8px;
    color: white !important;
  }
}

@media screen and (min-width: 768px) {
  nav ul li:nth-child(6) {
    text-align: center;
  }
}

nav ul li:nth-child(6) a {
  background-color: #ffffff;
  z-index: 99999;
  border-radius: 15px;
  padding: 6px 20px;
  color: #16A2E8;
}

@media screen and (max-width: 799px) {
  nav ul li:nth-child(6) a {
    background-color: #1E3D77;
    color: white !important;
    width: 80%;
    text-align: center;
    margin-left: 7.5%;
    margin-bottom: 8px;
  }
}

nav ul li:nth-child(6) a:visited {
  position: relative;
}

@media screen and (min-width: 600px) {
  nav ul li:nth-child(6) a:visited {
    color: #1E3D77;
  }
}

nav ul li a,
nav ul li a:visited {
  display: inline-block;
  font-family: "Avenir Roman";
  padding: 6px 20px;
  line-height: 1;
  vertical-align: middle;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  nav ul li a,
  nav ul li a:visited {
    color: #1E3D77;
  }
}

nav ul li a:hover,
nav ul li a:visited:hover {
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

nav ul li a:active,
nav ul li a:visited:active {
  border-bottom: 3px solid white;
}

@media screen and (max-width: 799px) {
  nav ul li a,
  nav ul li a:visited {
    text-align: center;
    color: #1E3D77;
  }
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 37px;
  right: 0;
  background: transparent;
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 100px 0 0px 0;
    max-height: 300px;
  }
  nav ul {
    display: none;
    position: relative;
    bottom: 178px;
    padding-top: 50px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 3px 11px rgba(0, 0, 0, 0.11);
            box-shadow: 0 3px 11px rgba(0, 0, 0, 0.11);
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px 15px 15px 35px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 45px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  z-index: 9999;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
  background-color: #1E3D77;
}

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.carousel-wrapper {
  position: relative;
  padding-top: 125px;
  min-height: 90vh;
}

@media screen and (max-width: 768px) {
  .carousel-wrapper .carousel-inner {
    bottom: 14px;
  }
}

@media screen and (max-width: 786px) {
  .carousel-wrapper .carousel-inner .item img {
    height: 40vh;
  }
}

@media screen and (max-width: 799px) {
  .carousel-wrapper {
    min-height: 50vh;
    padding-top: 150px;
  }
}

.carousel-wrapper img {
  bottom: 29px;
  position: relative;
}

.carousel-wrapper .no-bg-image {
  background-image: none !important;
}

.carousel-wrapper .carousel-caption {
  max-width: 400px;
  position: absolute;
  text-align: left;
  left: 9.2% !important;
  top: 15% !important;
  right: 0 !important;
  padding-bottom: 30px !important;
}

@media screen and (max-width: 600px) {
  .carousel-wrapper .carousel-caption {
    top: 8%;
    left: 5%;
  }
}

@media (min-width: 1400px) and (max-width: 1501px) {
  .carousel-wrapper .carousel-caption {
    left: 13.2% !important;
  }
}

@media (max-width: 1679px) and (min-width: 1502px) {
  .carousel-wrapper .carousel-caption {
    left: 13.2% !important;
  }
}

@media (max-width: 1802px) and (min-width: 1679px) {
  .carousel-wrapper .carousel-caption {
    left: 17.2% !important;
  }
}

@media (max-width: 2026px) and (min-width: 1802px) {
  .carousel-wrapper .carousel-caption {
    left: 19.2% !important;
  }
}

@media (min-width: 2026px) {
  .carousel-wrapper .carousel-caption {
    left: 22.7% !important;
  }
}

.carousel-wrapper .carousel-caption h3 {
  font-size: 34px;
  font-weight: bolder;
  font-family: "Avenir Black";
}

@media screen and (max-width: 600px) {
  .carousel-wrapper .carousel-caption h3 {
    font-size: 20px;
    padding-right: 25px;
  }
}

.carousel-wrapper .carousel-caption .btn-container button.buy {
  border-radius: 25px;
  font-family: "Avenir Light";
  font-size: 16px;
  border: 1px solid transparent;
}

.carousel-wrapper .carousel-caption .btn-container button.sell {
  border-radius: 25px;
  font-family: "Avenir Light";
  font-size: 16px;
  border: 1px solid white;
}

.carousel-wrapper .carousel-control .glyphicon-chevron-right, .carousel-wrapper .carousel-control .icon-next {
  right: 20% !important;
  margin-right: -10px;
}

.carousel-wrapper .carousel-control .glyphicon-chevron-left, .carousel-wrapper .carousel-control .icon-previous {
  left: 20% !important;
  margin-right: -10px;
}

.carousel-wrapper .carousel-indicators li {
  width: 3px;
  height: 3px;
  margin: 3px;
}

.carousel-wrapper .glyphicon-chevron-left, .carousel-wrapper .glyphicon-chevron-right {
  font-size: 19px !important;
}

.why-choose {
  background-color: #F9F9F9;
  padding: 4rem 0;
  position: relative;
  bottom: 30px;
}

.why-choose .header {
  padding-bottom: 2rem;
}

.why-choose .header img {
  width: 6%;
  padding-right: 1rem;
  padding-bottom: 1.3rem;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .why-choose .header img {
    width: 15%;
  }
}

.why-choose .header h2 {
  display: inline-block;
  font-family: "Avenir Black";
  color: #1E3D77;
  font-weight: bolder;
}

@media screen and (max-width: 600px) {
  .why-choose .header h2 {
    font-size: 20px;
  }
}

.why-choose img {
  width: 6%;
  padding-right: 1rem;
  padding-bottom: 1.3rem;
}

.why-choose h2 {
  display: inline-block;
  font-family: "Avenir Black";
  color: #1E3D77;
  font-weight: bolder;
}

.why-choose .col-md-12 {
  color: #434344;
  text-align: center;
  line-height: 2;
  font-family: "Avenir Light";
}

.weird-ellipse img {
  width: 28%;
}

@media screen and (max-width: 799px) {
  .weird-ellipse img {
    display: none;
  }
}

.weird-ellipse .ellipse-one {
  position: absolute;
  right: 1234px;
}

@media (min-width: 1400px) and (max-width: 1501px) {
  .weird-ellipse .ellipse-one {
    right: 1380px;
  }
}

@media (max-width: 1689px) and (min-width: 1502px) {
  .weird-ellipse .ellipse-one {
    right: 1525px;
  }
}

@media (max-width: 1802px) and (min-width: 1690px) {
  .weird-ellipse .ellipse-one {
    right: 1580px;
  }
}

@media (max-width: 2026px) and (min-width: 1802px) {
  .weird-ellipse .ellipse-one {
    right: 1680px;
  }
}

@media (min-width: 2026px) {
  .weird-ellipse .ellipse-one {
    right: 1880px;
  }
}

.weird-ellipse .ellipse-two {
  position: absolute;
  left: 1234px;
}

@media (min-width: 1400px) and (max-width: 1501px) {
  .weird-ellipse .ellipse-two {
    left: 1380px;
  }
}

@media (max-width: 1689px) and (min-width: 1502px) {
  .weird-ellipse .ellipse-two {
    left: 1525px;
  }
}

@media (max-width: 1802px) and (min-width: 1690px) {
  .weird-ellipse .ellipse-two {
    left: 1580px;
  }
}

@media (max-width: 2026px) and (min-width: 1802px) {
  .weird-ellipse .ellipse-two {
    left: 1680px;
  }
}

@media (min-width: 2026px) {
  .weird-ellipse .ellipse-two {
    left: 1880px;
  }
}

.payment-images .owl-dots {
  position: relative;
  bottom: 25px;
}

.payment-images .row {
  text-align: center;
}

.payment-images .coin-images-container {
  padding: 5em 1.5em;
}

@media screen and (max-width: 768px) {
  .payment-images .coin-images-container {
    padding: 5em 1.5em 0em 1.5em;
  }
}

.payment-images img {
  width: 48%;
}

@media screen and (max-width: 600px) {
  .payment-images img {
    width: 100%;
  }
}

.payment-images .paypal-adjust {
  position: relative;
  bottom: 20px;
}

@media screen and (max-width: 600px) {
  .payment-images .paypal-adjust {
    bottom: 8px;
  }
}

.payment-images .rates {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
  color: #808080;
  padding: 2rem 4rem 0rem 4rem;
  border-radius: 30px;
}

.payment-images .rates .coin-image {
  display: inline-block;
}

.payment-images .rates .coin-image img {
  width: 100%;
}

.payment-images .rates .rate-stats {
  display: inline-block;
  top: -22px;
  position: relative;
}

.payment-images .rates .rate-stats img {
  width: 100%;
}

.payment-images .rates .rate-stats span {
  display: block;
  font-family: "Comfortaa", cursive;
  font-weight: bolder;
  font-size: 10px;
  line-height: 2;
}

.payment-images .rates .rate-stats span span {
  padding-left: 40px;
  display: inline-block;
}

.payment-images .rates .rate-change {
  display: inline-block;
  position: relative;
  bottom: 30px;
}

.payment-images .rates .rate-change img {
  width: 100%;
  padding-left: 85px;
  bottom: 14px;
  position: relative;
}

.payment-images .rates .rate-change span {
  display: inline-block;
  font-weight: bolder;
  font-size: 18px;
  color: red;
}

.operate h2 {
  display: inline-block;
  font-family: "Avenir Black";
  color: #1E3D77;
  font-weight: bolder;
  padding: 1em;
}

@media screen and (max-width: 768px) {
  .operate .col-md-4 {
    padding: 2em 1em;
  }
}

.operate iframe, .operate video {
  border-radius: 25px;
}

.operate .operate-caption {
  font-family: "Avenir Light";
  color: #434344;
  line-height: 2;
  font-weight: lighter;
  font-size: 16px;
}

.operate .learn-more {
  margin-top: 2em;
  position: relative;
}

.operate .learn-more a {
  text-decoration: none;
  color: #fff;
  background-color: #2AA7E6;
  padding: 0.6em 1.5em;
  border-radius: 15px;
  font-family: "Avenir Medium";
}

.operate .learn-more a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.owl-theme .owl-stage {
  padding: 20px 0px;
}

.testimonials {
  font-family: "Avenir Light";
  padding-top: 7rem;
}

.testimonials h2 {
  font-family: "Avenir Black";
  color: #1E3D77;
  font-weight: bolder;
}

.testimonials .owl-item .item {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
  border-radius: 18px;
  padding: 3em 2em;
  max-width: 360px;
}

@media screen and (min-width: 600px) {
  .testimonials .owl-item {
    width: 355px !important;
    margin-right: 0px;
  }
  .testimonials .owl-item:active {
    z-index: 9999;
  }
  .testimonials .owl-item .item {
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
    border-radius: 18px;
    padding: 3em 2em;
    min-width: 370px;
    position: relative;
    top: 30px;
    margin: 7px;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .testimonials .owl-item .item {
    min-width: 200px;
  }
}

.testimonials .owl-carousel button.owl-dot span {
  display: none;
}

.testimonials .owl-carousel .owl-stage-outer {
  padding-left: 14px;
}

.testimonials button {
  position: absolute;
  top: 0px;
}

@media screen and (max-width: 600px) {
  .testimonials button {
    display: none !important;
  }
}

.faq {
  padding: 6em;
  font-family: "Avenir Light";
}

@media screen and (max-width: 600px) {
  .faq {
    padding: 6em 0;
  }
}

.faq .faq-heading h2 {
  color: #1E3D77;
  font-family: "Avenir Black";
  font-weight: bolder;
  padding: 1.3rem;
  margin: 0;
}

.faq .faq-heading p {
  font-weight: lighter;
  font-size: 1.75rem;
  margin-bottom: 1.5em;
  font-family: "Avenir Light";
  color: #434344;
}

.faq .faq-heading h6 {
  color: #009CEA;
  font-size: 1.5em;
}

.faq .accordion .accordion-item {
  margin-bottom: 0px;
}

.faq .accordion .accordion-item a {
  background-image: -webkit-gradient(linear, left top, right top, from(#009CEA), to(#1E3D77));
  background-image: linear-gradient(to right, #009CEA, #1E3D77);
  padding: 1rem 2.5rem;
  font-family: "Avenir Light";
}

.faq .accordion .accordion-item a span {
  font-size: 16px;
  font-weight: bolder;
}

.faq .accordion a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.faq .accordion a:hover,
.faq .accordion a:hover::after {
  cursor: pointer;
  color: #ffffff;
}

.faq .accordion a:hover::after {
  color: white;
}

.faq .accordion a.active {
  color: #fff;
  border-bottom: 1px solid #03b5d2;
}

.faq .accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 2rem;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
}

.faq .accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #fff;
}

.faq .accordion .content {
  opacity: 0;
  padding: 0.3rem 2rem;
  max-height: 0;
  margin-bottom: 4px;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.faq .accordion .content p {
  font-size: 1.75rem;
  font-weight: 300;
  font-weight: lighter;
  font-family: "Avenir Light";
  color: #434344;
}

.faq .accordion .content.active {
  opacity: 1;
  padding: 1rem 2rem;
  max-height: 100%;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.36);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.36);
  -webkit-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.owl-nav button {
  bottom: 50px;
}

.owl-nav button span {
  font-size: 40px;
}

.newsletter {
  padding: 0 6em 3em 6em;
}

@media screen and (max-width: 768px) {
  .newsletter {
    padding: 0 0.5em 2em 0.5em;
  }
}

.newsletter .newsletter-heading h2 {
  font-weight: bolder;
  font-family: "Avenir Black";
  color: #1E3D77;
}

.newsletter .newsletter-heading p {
  font-family: "Avenir Light";
  color: #434344;
}

.newsletter .input-subscribe {
  border-radius: 25px;
  padding: 1px;
  border: 2px solid rgba(112, 112, 112, 0.35);
}

.newsletter .input-subscribe .input {
  display: inline-block;
  width: 76%;
}

@media screen and (max-width: 600px) {
  .newsletter .input-subscribe .input {
    width: 60%;
  }
}

.newsletter .input-subscribe .input input {
  width: 100%;
  padding: 1em 2em;
  border: none;
  font-family: "Avenir Light";
  background-color: transparent;
}

.newsletter .input-subscribe .input input:focus {
  border: none;
  outline: none;
}

.newsletter .input-subscribe .submit {
  display: inline-block;
  width: 22%;
}

@media screen and (max-width: 600px) {
  .newsletter .input-subscribe .submit {
    width: 35%;
  }
}

.newsletter .input-subscribe .submit button {
  width: 100%;
  border: 10px;
  padding: 15px;
  border-radius: 25px;
  position: relative;
  left: 8px;
  font-family: "Avenir Light";
  background-color: #1E3D77;
  color: white;
}

.newsletter .input-subscribe .submit button:focus {
  outline: none;
}

.tweet-tweet iframe {
  width: 100% !important;
}

@media screen and (max-width: 500px) {
  .tweet-tweet iframe {
    max-width: 390px !important;
  }
}

@media screen {
  .tweet-side .img-two {
    padding-bottom: 10em;
  }
}

footer {
  background-color: #1E3D77;
  color: #ffffff;
  font-family: "Avenir Light";
}

footer .row {
  padding-top: 3rem;
}

footer .footer-heading {
  min-height: 85.1px;
}

footer .footer-heading img {
  width: 65%;
  padding: 1.5em 0;
}

footer .about .footer-heading img {
  width: 65%;
  padding: 1.5em 0;
  height: 85.1px;
}

footer .about .footer-content p {
  padding-bottom: 1.5em;
  line-height: 1.5;
  font-size: 14px;
}

footer .about .footer-content p:after {
  content: "";
  display: block;
  width: 40%;
  padding-top: 20px;
  border-bottom: 3px solid #2AA7E6;
}

footer .about .media-footer a {
  display: inline-block;
  padding-right: 5px;
  color: white;
}

footer .about .media-footer a:hover {
  text-decoration: none;
  color: white;
}

footer .about .media-footer a:nth-child(3) {
  display: block;
  padding-top: 10px;
}

footer .about .media-footer a img {
  padding: 3px;
}

footer .twitter .static-pages .footer-heading {
  visibility: hidden;
}

footer .twitter .static-pages ul.page-listing {
  list-style-type: none;
  padding-left: 0px;
}

footer .twitter .static-pages ul.page-listing li {
  padding-left: 0;
  line-height: 1.5;
}

footer .twitter .static-pages .social-links h4 {
  font-family: "Avenir Black";
  color: #16B0EA;
  font-weight: bolder;
}

footer .twitter .static-pages img {
  padding: 5px;
}

footer .offices .footer-heading {
  padding-top: 3em;
}

footer .offices .footer-heading span {
  border-bottom: 5px solid #2AA7E6;
  display: inline-block;
  position: relative;
  bottom: 5px;
  width: 25px;
}

footer .offices .footer-heading h5 {
  font-size: 18px;
  padding-left: 0.5em;
  display: inline-block;
}

footer .offices .row {
  padding-top: 0px !important;
}

footer .footer-bottom {
  background-color: #0E295A;
  color: #ffffff;
  text-align: center;
  margin-top: 2em;
}

footer .footer-bottom span {
  display: inline-block;
  text-align: center;
  padding: 1em 0;
}

.about-us {
  padding-top: 125px;
  font-family: "Avenir Light" !important;
}

.about-us .about-section {
  padding-top: 3em;
  padding-bottom: 3em;
}

.about-us .about-section .header {
  padding-top: 3em;
  padding-bottom: 3em;
}

.about-us .about-section .header h2 {
  font-family: "Avenir Black";
  color: #1E3D77;
  font-weight: bolder;
}

.about-us .about-section .row .col-md-6 p {
  line-height: 2;
  padding-bottom: 2em;
  font-size: 16px;
}

.awesome-features {
  font-family: "Avenir Light";
}

.awesome-features h2 {
  font-family: "Avenir Black";
  color: #1E3D77;
  font-weight: bolder;
}

.awesome-features h2:after {
  content: "";
  border-bottom: 4px solid #2AA7E6;
  width: 8%;
  display: block;
  padding-top: 0.5em;
  margin: 0px auto;
}

.awesome-features p {
  padding: 0.2em 0em 3em 0em;
  font-family: "Avenir Light";
  font-size: 20px;
}

.awesome-features .row:nth-child(2) .col-md-3 img {
  min-height: 93px;
}

@media screen and (max-width: 600px) {
  .awesome-features .row:nth-child(2) .col-md-3 img {
    width: 60%;
    min-height: 44px;
  }
}

.awesome-features .caption {
  font-family: "Avenir Light";
  padding: 2em 0;
}

.awesome-features .colleague-images h4 {
  font-weight: lighter;
  font-family: "Avenir Light";
  padding: 2em 0em;
}

.awesome-features .colleague-images h4:after {
  content: "";
  width: 5%;
  border-bottom: 4px solid #2AA7E6;
  display: block;
  margin: 0px auto;
  padding-top: 0.8em;
}

@media screen and (max-width: 600px) {
  .awesome-features .colleague-images .col-6:nth-child(2n+1) {
    padding-left: 0px !important;
  }
  .awesome-features .colleague-images .col-6:nth-child(2n) {
    padding-right: 0px !important;
  }
}

.awesome-features .colleague-images img {
  padding: 3px;
}

@media screen and (min-width: 799px) {
  .awesome-features .colleague-images img {
    height: 307px;
  }
}

.awesome-features .coin-images-container {
  padding: 4em 8em;
}

@media screen {
  .awesome-features .coin-images-container {
    padding: 4em 1em;
  }
}

.awesome-features .coin-images-container .paypal-adjust {
  position: relative;
  bottom: 15px;
}

@media screen and (max-width: 600px) {
  .awesome-features .coin-images-container .paypal-adjust {
    bottom: 8px;
  }
}

.awesome-features .coin-images-container .col-md-3 {
  text-align: center;
}

.awesome-features .coin-images-container .col-md-3 img {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .awesome-features .coin-images-container .col-md-3 img {
    width: 100%;
  }
}

.how-it-works {
  padding-top: 125px;
  font-family: "Avenir Light" !important;
}

.how-it-works .how {
  padding-top: 3em;
  padding-bottom: 3em;
}

.how-it-works .how .header {
  padding: 4em 0em;
}

.how-it-works .how .header h2 {
  font-family: "Avenir Black";
  color: #1E3D77;
  font-weight: bolder;
}

.how-it-works .how .row .col-md-6 h4 {
  font-weight: bolder;
}

.how-it-works .how .row .col-md-6 p {
  line-height: 2;
}

.register {
  padding-top: 125px;
  font-family: "Avenir Light" !important;
}

.register .header {
  background-color: #F5F5F5;
  padding: 2em 0;
}

.register .header h2 {
  font-family: "Avenir Black";
  color: #1E3D77;
  font-weight: bolder;
  text-align: center;
}

.register .register-form {
  padding-top: 3em;
  padding-bottom: 3em;
}

.register .register-form .row .col-md-4 {
  background-color: #F5F5F5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
  border-radius: 34px;
}

@media screen and (max-width: 600px) {
  .register .register-form .row .col-md-4 {
    margin: 1.8em;
  }
}

.register .register-form .row .col-md-4 form {
  padding: 2em;
}

.register .register-form .row .col-md-4 form .heading h3 {
  font-family: "Avenir Black";
  font-weight: bolder;
  color: #1E3D77;
}

.register .register-form .row .col-md-4 form input {
  border-radius: 25px;
  padding: 1.5em;
}

.register .register-form .row .col-md-4 form label.form-check-label {
  padding-left: 20px;
  font-family: "Avenir Light";
}

.register .register-form .row .col-md-4 form button {
  margin-top: 10px;
  width: 100%;
  padding: .75em;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#009CEA), to(#1E3D77));
  background-image: linear-gradient(to right, #009CEA, #1E3D77);
  color: white;
}

.register .register-form .row .col-md-4 form .tab .input-group-addon {
  display: inline;
  position: absolute;
  right: 20px;
  top: 6px;
  background-color: transparent;
  z-index: 99;
  border: none;
}

.register .register-form .row .col-md-4 form .tab select {
  width: 100%;
  padding: 0.7em;
  border-radius: 25px;
}

.register .nav-buttons {
  overflow: auto;
}

.register .nav-buttons .register-steps button {
  width: 49% !important;
  border: none;
}

.login {
  padding-top: 125px;
  font-family: "Avenir Light" !important;
}

.login .header {
  background-color: #F5F5F5;
  padding: 2em 0;
}

.login .header h2 {
  font-family: "Avenir Black";
  color: #1E3D77;
  font-weight: bolder;
  text-align: center;
}

.login .login-form {
  padding-top: 3em;
  padding-bottom: 3em;
}

.login .login-form .row .col-md-4 {
  background-color: #F5F5F5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
  border-radius: 34px;
}

@media screen and (max-width: 600px) {
  .login .login-form .row .col-md-4 {
    margin: 1.8em;
  }
}

.login .login-form .row .col-md-4 form {
  padding: 2em;
}

.login .login-form .row .col-md-4 form .heading h3 {
  font-family: "Avenir Black";
  font-weight: bolder;
  color: #1E3D77;
}

.login .login-form .row .col-md-4 form input {
  border-radius: 25px;
  padding: 1.5em;
}

.login .login-form .row .col-md-4 form label.form-check-label {
  padding-left: 20px;
  font-family: "Avenir Light";
}

.login .login-form .row .col-md-4 form button {
  margin-top: 10px;
  width: 100%;
  padding: .75em;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#009CEA), to(#1E3D77));
  background-image: linear-gradient(to right, #009CEA, #1E3D77);
}

.dashboard-content {
  padding-top: 150px;
  background-color: white;
  height: 326px;
  -webkit-box-shadow: 0 2px 22px rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 22px rgba(0, 0, 0, 0.13);
}

.dashboard-content .row {
  padding: 1em 3em 2em 0;
  position: relative;
  bottom: 48px;
}

.dashboard-content .row h3 {
  color: #2AA7E6;
  font-weight: bolder;
  font-family: "Avenir Black";
}

@media screen and (max-width: 600px) {
  .dashboard-content .row h3 {
    font-size: 18px;
  }
}

.dash {
  position: relative;
}

.payment-images .hide-desktop {
  position: relative;
  bottom: 120px;
}

.payment-images .purchase-coin {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
  color: #808080;
  background-color: white;
  z-index: 9999;
  padding: 2rem 1rem 0rem 0rem;
  border-radius: 30px;
  font-family: "Avenir Light" !important;
}

@media screen and (max-width: 768px) {
  .payment-images .purchase-coin {
    padding: 2rem 1rem 3rem 0rem;
  }
}

.payment-images .purchase-coin .signature-wrapper .coin-image {
  display: inline-block;
}

.payment-images .purchase-coin .signature-wrapper .coin-image img {
  width: 100%;
}

.payment-images .purchase-coin .signature-wrapper .rate-stats {
  display: inline-block;
  top: 10px;
  padding-left: 10px;
  position: relative;
}

.payment-images .purchase-coin .signature-wrapper .rate-stats img {
  width: 100%;
}

.payment-images .purchase-coin .signature-wrapper .rate-stats span {
  display: block;
  font-family: "Comfortaa", cursive;
  font-weight: bolder;
  font-size: 10px;
  line-height: 2;
}

.payment-images .purchase-coin .signature-wrapper .rate-stats span span {
  padding-left: 40px;
  display: inline-block;
}

.payment-images .purchase-coin .signature-wrapper .rate-change {
  display: inline-block;
  position: relative;
  top: 20px;
  padding-left: 10px;
}

.payment-images .purchase-coin .signature-wrapper .rate-change img {
  width: 40%;
  left: 40px;
  bottom: 20px;
  position: relative;
}

.payment-images .purchase-coin .signature-wrapper .rate-change span {
  display: inline-block;
  font-weight: bolder;
  font-size: 18px;
  color: red;
}

.dashboard-rate {
  position: relative;
  bottom: 110px;
  background-color: #ffff;
}

.click-here {
  position: relative;
  bottom: 20px;
  right: 20px;
}

.click-here button {
  background-color: #2AA7E6;
  border-radius: 15px;
  padding: 0.2em 1.5em;
  color: #fff;
}

.click-here button:hover {
  color: #fff;
}

.maindashboard-content {
  background-color: #F9FDFF;
}

.maindashboard-content .referral {
  position: absolute;
  color: white;
  background-color: #2AA7E6;
  position: absolute;
  top: 400px;
  left: 215px;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .maindashboard-content .referral {
    top: 310px;
    left: 165px;
  }
}

.maindashboard-content .row img {
  width: 100%;
}

.maindashboard-content .impressed {
  font-family: "Avenir Light";
  font-size: 18px;
  color: #2AA7E6;
  padding: 2em 0 2em 1em;
}

.maindashboard-content .testimony-form textarea {
  border-radius: 40px;
  width: 100%;
  padding: 2em;
}

.maindashboard-content .testimony-form button {
  width: 100%;
  text-align: center;
  background-color: #2AA7E6;
  color: white;
  border-radius: 20px;
  margin-right: 8%;
  font-family: "Avenir Light";
  padding: 1em;
}

#dashboardBuy {
  font-family: "Avenir Light";
  z-index: 99999;
}

#dashboardBuy ul li a {
  padding-left: 2em;
  padding-right: 2em;
}

#dashboardBuy ul li:active {
  background-color: #2AA7E6;
}

#dashboardBuy form .col-md-6 input[type="radio"] {
  display: inline-block;
  position: relative;
}

#dashboardBuy form .col-md-6 span {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  bottom: 30px;
}

@media screen and (max-width: 600px) {
  #dashboardBuy form .col-md-6 span {
    bottom: 4px;
  }
}

#dashboardBuy form .sellForm input {
  width: 100%;
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 1.8em;
  border-radius: 20px;
  border: #808080 1px solid;
}

#dashboardBuy form .sellForm input:focus {
  outline: none;
}

#dashboardBuy form .sellForm i {
  position: absolute;
  bottom: 12px;
  left: 25px;
}

#dashboardBuy form .sellForm textarea {
  width: 100%;
  border-radius: 25px;
  padding: 1em;
  height: 119px;
}

.col-md-9 .table-responsive thead {
  font-family: "Avenir Light";
  color: white;
  background-color: black;
}

.col-md-9 .table-responsive tbody {
  font-family: "Avenir Roman";
}

.col-md-9 .table-responsive td {
  border-top: 7px solid #ddd;
  border-right: 1px solid #ddd;
}

header.dashboard {
  position: fixed;
  width: 100%;
  z-index: 99999;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11);
}

header.dashboard .dashboard-profile-pic {
  position: relative;
  bottom: 20px;
}

header.dashboard .navigation {
  height: 100px;
  background: #fff !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 799px) {
  header.dashboard .navigation {
    padding-right: 0;
    padding-left: 0;
  }
}

header.dashboard nav {
  float: right;
}

header.dashboard nav ul.nav-dropdown {
  z-index: 999;
  background-color: white;
}

header.dashboard nav ul.nav-dropdown li {
  border-bottom: 1px solid #707070;
}

header.dashboard nav ul {
  list-style: none;
  margin: 40px 0px 0px 0px;
  padding: 0;
}

@media screen and (max-width: 760px) {
  header.dashboard nav ul {
    background-color: white;
  }
  header.dashboard nav ul img {
    width: 30%;
  }
}

header.dashboard nav ul li {
  float: left;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}

header.dashboard nav ul li:nth-child(6) a.logout {
  background-color: transparent !important;
  text-align: left !important;
}

header.dashboard nav ul li a,
header.dashboard nav ul li a:visited {
  display: inline-block;
  font-family: "Avenir Roman";
  padding: 6px 20px;
  line-height: 1;
  vertical-align: middle;
  color: #314D81 !important;
  text-decoration: none;
}

header.dashboard nav ul li a:hover,
header.dashboard nav ul li a:visited:hover {
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

header.dashboard nav ul li a:not(:only-child):after,
header.dashboard nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

header.dashboard nav ul li a:active,
header.dashboard nav ul li a:visited:active {
  border-bottom: 3px solid white;
}

@media screen and (max-width: 768px) {
  header.dashboard nav ul li a:active,
  header.dashboard nav ul li a:visited:active {
    border: none !important;
  }
}

@media screen and (max-width: 799px) {
  header.dashboard nav ul li a,
  header.dashboard nav ul li a:visited {
    text-align: center;
    color: #1E3D77 !important;
  }
}

header.dashboard nav ul li ul li {
  min-width: 190px;
}

header.dashboard nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

header.dashboard .nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 798px) {
  header.dashboard .nav-mobile {
    display: block;
  }
  header.dashboard nav {
    width: 100%;
    padding: 100px 0 0px 0;
    max-height: 300px;
  }
  header.dashboard nav ul.dash-navv {
    display: none;
    position: relative;
    bottom: 140px;
    padding-top: 20px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 3px 11px rgba(0, 0, 0, 0.11);
            box-shadow: 0 3px 11px rgba(0, 0, 0, 0.11);
  }
  header.dashboard nav ul.dash-navv li {
    float: none;
  }
  header.dashboard nav ul.dash-navv li a {
    color: #1E3D77 !important;
  }
  header.dashboard nav ul.dash-navv li:nth-child(2) {
    background-color: rgba(129, 129, 129, 0.3);
    margin: 2px 0;
  }
  header.dashboard nav ul.dash-navv li:nth-child(3) {
    background-color: rgba(129, 129, 129, 0.3);
    margin: 2px 0;
  }
  header.dashboard nav ul.dash-navv li:nth-child(3) ul.nav-dropdown {
    border: none !important;
    margin-top: 0px;
  }
  header.dashboard nav ul.dash-navv li:nth-child(3) ul.nav-dropdown li {
    background-color: white;
  }
  header.dashboard nav ul.dash-navv li a {
    color: #1E3D77 !important;
    padding: 15px;
    line-height: 20px;
  }
  header.dashboard nav ul.dash-navv li ul li a {
    padding-left: 30px;
  }
  header.dashboard .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  header.dashboard .nav-list {
    display: block !important;
  }
}

header.dashboard #nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 16px 37px 18px 6px;
  border-radius: 3px;
  border: 1px solid rgba(112, 112, 112, 0.3);
  z-index: 9999;
}

header.dashboard #nav-toggle span,
header.dashboard #nav-toggle span:before,
header.dashboard #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 33px;
  background: #2AA7E6;
  position: absolute;
  display: block;
  content: '';
}

header.dashboard #nav-toggle span:before {
  top: -10px;
}

header.dashboard #nav-toggle span:after {
  bottom: -10px;
}

header.dashboard #nav-toggle.active span {
  background-color: transparent;
}

header.dashboard #nav-toggle.active span:before, header.dashboard #nav-toggle.active span:after {
  top: 0;
}

header.dashboard #nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header.dashboard #nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.contact-us {
  padding-top: 125px;
  font-family: "Avenir Light" !important;
}

.contact-us .contact-section {
  padding-top: 3em;
  padding-bottom: 3em;
}

.contact-us .contact-section .header h2 {
  font-family: "Avenir Black";
  color: #1E3D77;
  font-weight: bolder;
}

.contact-us .contact-section .row form .form-group input {
  border-radius: 24px;
  padding: 1.7em;
}

.contact-us .contact-section .row form .form-group textarea {
  width: 100%;
  border-radius: 35px;
}

.contact-us .contact-section .row form .form-group button {
  background-color: #2AA7E6;
  border-radius: 20px;
  padding: 10px 20px;
}

.contact-us .contact-section .row form .form-inline {
  width: 49%;
  display: inline-block;
  margin: 0.7em 0;
}

.contact-us .contact-section .row form .form-inline input {
  width: 100%;
  border-radius: 24px;
  padding: 1.7em;
}

.contact-us .contact-section .row .col-md-6 {
  line-height: 2;
  font-size: 16px;
}

.contact-us .contact-section .row .col-md-6:nth-child(2) p {
  padding-bottom: 2em;
}

.contact-us .contact-section .row .col-md-6:nth-child(2) p:nth-child(2) {
  color: #FF0000;
}

.contact-us .contact-section .row .col-md-6:nth-child(2) .sectwo .phone-no {
  font-family: "Avenir Black";
  font-weight: bolder;
  font-size: 18px;
}

.contact-us .contact-section .row .col-md-6:nth-child(2) .sectwo .time .time-open {
  font-family: "Avenir Black";
  font-weight: bolder;
  font-size: 18px;
}

.contact-us .contact-section .row .col-md-6:nth-child(2) .sectwo .whatsapp {
  margin-top: 1.5em;
}

.contact-us .contact-section .row .col-md-6:nth-child(2) .sectwo .whatsapp .phone {
  display: inline-block;
  font-family: "Avenir Black";
  font-weight: bolder;
  font-size: 18px;
}

.contact-us .contact-section .row .col-md-6:nth-child(2) .sectwo .whatsapp .text {
  display: inline-block;
  padding-left: 15px;
}

.office-section {
  background-color: rgba(42, 167, 230, 0.03);
}

.office-section h2 {
  font-family: "Avenir Black";
  font-weight: bolder;
  color: #1E3D77;
}

.office-section h5 {
  font-family: "Avenir Light";
  font-size: 16px;
  padding: 1.5em 0;
  font-weight: lighter;
}

.office-section p {
  font-family: "Avenir Light";
  min-height: 130px;
}

.profile-container {
  padding-top: 125px;
  background-color: #F9FDFF;
  margin-bottom: 4em;
  font-family: "Avenir Light" !important;
}

.profile-container h2 {
  font-family: "Avenir Black";
  padding: 2em 0;
  color: #1E3D77;
}

.profile-container .profile-form {
  padding: 3em;
}

.profile-container .profile-form div.profile-picture {
  display: inline-block;
  width: 48%;
}

.profile-container .profile-form div.edit {
  display: inline-block;
  width: 48%;
}

.profile-container .profile-form div.edit button {
  float: right;
  padding: 1em 2.5em;
  border-radius: 25px;
  border: 1px solid #707070;
}

.profile-container .profile-form .salutation {
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 2px solid black;
}

.profile-container .profile-form .salutation span {
  font-size: 22px;
  display: inline-block;
  padding-left: 1em;
  font-weight: 700;
}

.profile-container .profile-form .save-profile button {
  padding: 1em 2.5em;
  border-radius: 25px;
  border: 1px solid #707070;
}

.profile-container .profile-form .form-inline {
  display: inline-block;
  width: 47%;
  padding: 1.4em 0;
}

@media screen and (max-width: 768px) {
  .profile-container .profile-form .form-inline {
    display: block;
    width: 100%;
    padding: 1em 0;
  }
}

.profile-container .profile-form .form-inline input {
  width: 100%;
  border-radius: 30px;
  padding: 2em;
}

@media screen and (max-width: 768px) {
  .profile-container .profile-form .form-inline input {
    padding: 1.5em;
  }
}

.profile-container .profile-form .form-inline select {
  width: 100%;
  padding: 1.3em;
  border-radius: 30px;
}

.profile-container .profile-form .form-inline label {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-family: "Avenir Roman";
  padding-left: 20px;
  font-weight: lighter;
}
/*# sourceMappingURL=style.css.map */